ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

h2 {
    text-align: center;
}

.card {
    height: 45%;
    width: 45%;
    padding: .5em;
    margin: .5em;
}